<!DOCTYPE html>
<html>
<head>
  <meta name="" content="" charset="UTF-8">  
</head>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fonts/font.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <title>Plot Graph</title>

</head>
<body>