
.Maitree{
	  font-family:'Maitree-Regular';
    color:#666;
	  font-size:20px;
  }
 .Sriracha{
	  font-family:'Sriracha-Regular';
	  color:#666;
	font-size:20px;
  }
  .Itim{
	  font-family:'Itim-Regular';
	  color:#666;
	font-size:20px;
  }
.LobsterThai{
	  font-family:'LobsterThai-Regular';
	  color:#666;
	font-size:20px;
  }

.Chonburi{
	  font-family:'Chonburi-Regular';
	  color:#666;
	font-size:20px;
  }
.Pridi{
	  font-family:'Pridi-Regular';
	  color:#666;
	font-size:20px;
  }
.Athiti{
	  font-family:'Athiti-Regular';
	  color:#666;
	font-size:20px;
}
.Mitr{
	  font-family:'Mitr-Regular';
	  color:#666;
	font-size:20px;
  }
.Taviraj{
	  font-family:'Taviraj-Regular';
	  color:#666;
	font-size:20px;
  }
.Trirong{
	  font-family:'Trirong-Regular';
	  color:#666;
	font-size:20px;
  }
.Prompt{
	  font-family:'Prompt-Regular';
	 color:#666;
	font-size:20px;
  }
.kanit{
	  font-family:'kanit-Regular';
	  color:#666;
	font-size:20px;
  }